body {
	background-color: #ffe5b4;
	text-align: center;
}

button {
	position: absolute;
	font-size: 1.5em;
	color: #f1e6c1;
	box-shadow: 1px 1px 5px black;
	background-color: #3b392fa2;
	height: 6vh;
	width: 125px;
	border-radius: 10px;
}

#noButton {
	position: absolute;
	top: 57vh;
	left: 51vw;
	transition: 0.3s;
}

#yesButton {
	top: 57vh;
	left: 42vw;
}

p {
	font-size: 24pt;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	position: relative;
}

img {
	position: relative;
	height: 250px;
}

.main-img {
	text-align: center;
}